.box {
  width: 3rem;
  height: 3rem;
  border: 2.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 35px;
  font-family: 'Coptic' !important;
  line-height: 2.5rem;
  background-color: var(--joy-palette-background-body);
  border-color: var(--joy-palette-neutral-100);
  color: var(--joy-palette-primary-50);
}

.htp {
  height: 2rem;
  width: 2rem;
  line-height: 1rem;
  font-size: 25px;
  margin-right: .25rem;
}

.key:hover,
.key:focus,
.key:active {
  background-color: var(--joy-palette-neutral-50) !important;
}


html,
body,
#root {
  height: 100%;
}

.key {
  width: 8.2vw;
  max-width: 43px;
  padding: 0 !important;
  font-family: 'Coptic' !important;
  height: 2.5rem;
  color: var(--joy-palette-primary-50) !important;
}

#enter,
#backspace {
  width: 12vw;
  max-width: 65px;
  font-family: var(--joy-fontFamily-display, "Inter", var(--joy-fontFamily-fallback, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol")) !important;
}

#toolbar {
  height: 56px;
  border-bottom: 1px solid var(--joy-palette-neutral-100);
  width: 100%;
}

#keyboard {
  margin-bottom: 1em;
}

#toolbar-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
}

.lbText {
  color: var(--joy-palette-primary-50) !important;
}

/*makes sure list items stay inside of their parent div*/
ul {
  list-style-position: inside !important;
}

/*styling for how to play text*/
li,
p {
  color: var(--joy-palette-primary-50) !important;
}


/* .modal {
  width: fit-content !important;
  height: fit-content !important;
  border: 1px solid var(--joy-palette-neutral-100);
  border-radius: 0.5rem;
} */

@font-face {
  font-family: 'Coptic';
  src: url(./Coptic1.otf) format('opentype');
  unicode-range: U+0000-00FF, U+0370-03FF, U+2C80-2CFF;
}

@media only screen and (max-width: 768px) {
  #toolbar {
    height: 48px;
  }

  .modal {
    width: 100% !important;
    height: 100% !important;
    border: none;
    border-radius: 0px;
  }
}