.box {
  width: 3em;
  height: 3em;
  border: 2.5px solid gray;
  display: flex;
  align-items: center;
  justify-content: center;
  font: 40px;
  background-color: white;
}

.key:hover {
  background-color: #d3d6da !important;
}

html,
body,
#root {
  height: 100%;
}